<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Leaderboard{% endblock %}</title>
    {% load static %}

    <!-- Bootstrap -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    {% include 'components/navbar.html' %}
    
    <div class="container">
        <h1>Leaderboard</h1>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>